option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: ENNews.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static/
    /media: media/

packages:
  yum:
    postgresql-devel: []

commands:
  01_install_psycopg2_binary:
    command: "pip install psycopg2-binary"
